RewriteEngine On

#Force HTTPS
#Last Updated: 2023-05-04 01:35:29 (UTC)
RewriteCond %{HTTPS} !on
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#End Force HTTPS

# Manejo de WebSockets (wss://) para el puerto 3035
RewriteCond %{HTTP:Upgrade} =websocket [NC]
RewriteCond %{HTTPS} on
RewriteRule ^/sockjs-node/(.*) wss://144.208.66.171:3035/$1 [P,L]

# Redirigir tráfico HTTP en el puerto 3000 a HTTPS
RewriteCond %{HTTP_HOST} ^easychat\.easycrm\.top$ [NC]
RewriteCond %{SERVER_PORT} =3000
RewriteRule ^(.*)$ https://telestreamsbo.com/$1 [L,R=301]

# Redirigir tráfico WebSocket en HTTPS al puerto 3000
RewriteCond %{HTTP_HOST} ^easychat\.easycrm\.top$ [NC]
RewriteCond %{SERVER_PORT} =443
RewriteRule ^(.*)$ http://144.208.66.171:3000/$1 [P,L]

# Manejo de tráfico en el puerto 3035 (sin SSL)
RewriteCond %{HTTP_HOST} ^easychat\.easycrm\.top$ [NC]
RewriteCond %{SERVER_PORT} =3035
RewriteRule ^(.*)$ http://144.208.66.171:3035/$1 [P,L]